@{
    ViewData["Title"] = "Home Page";
}

<div class="container w-50 text-center">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["Message"].ToString()
        </div>
    }
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
