@using Core.RequestEntity.DTOs
@model List<CarListDTO>
@{
    Layout = "_AdminLayout";
}

<h3>List of not accepted requests</h3>

<table class="table table-responsive table-striped table-hover col-lg-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Phone Number</th>
            <th scope="col">Car Brand</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <th scope="row">@item.Id</th>
                <td scope="row">@item.UserPhoneNumber</td>
                <td scope="row">@item.CarBrand</td>
                <td scope="row">@item.IsAccepted</td>
            }
        </tr>
    </tbody>
</table>