@using Core.RequestEntity.DTOs
@model List<DateOnly>

@{
    Layout = "_AdminLayout";
}

<h2>choose a date</h2>

@foreach (var item in Model)
{
    <a class="btn btn-outline-info" asp-action="RequetListByDate" asp-route-date="@item">@item</a>
}